#footer{
    bottom: 0px;
    width:100%;
    text-align: center;
line-height: 3;
background-color: gray;
position: fixed;
}

body{
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header_div{
    background-color: aqua;
}
.header_div button{
    margin-top: 30px;
    width:100px;

}